{% extends "base.html" %}

{% block content %}

    <h2>Settings for {{ object_list.0.Bike }}</h2>
        {% for setting in object_list %}
        <div class="card bg-light mb-3" style="max-width: 19rem;" >
                <div class="card-header">
                    <a href="/settings/update/{{ setting.pk }}">Setting {{ forloop.counter }}</a>
                    <a href="delete/{{ setting.pk }}" class="close" aria-label="Close"> &times;</a>

                </div>
                <div class="card-body">
                    <p class="card-text">
                            Spring Rate: {{ setting.SpringRate }} <br>
                            Front Compression: {{ setting.SpringRate }}<br>
                            Front Rebound: {{ setting.FrontRebound }}<br>
                            <br>
                            Rear High Speed Compression: {{ setting.RearHighSpeedCompression }}<br>
                            Rear Low Speed Compression: {{ setting.RearLowSpeedCompression }}<br>
                            Rear Rebound: {{ setting.RearRebound }}<br>
                            Sag: {{ setting.Sag }}<br>
                            <br>
                            Feel: {{ setting.Notes }}
                    </p>
                </div>
            </div>
        {% endfor %}
        
            <a href="/settings/add_from_last/{{ bike }}">Add from last Setting</a> </br>
            <a href="/settings/add/{{ bike }}">Add a new Setting</a>

{% endblock %}
