<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% extends 'base.html' %}
{% block content %}
<div class="card-deck">
    {% for bike in bikes %}
        <div class="card" style="width: 20rem; margin: 5%;">
            <div class="card-header">
                <a href="/settings/{{ bike.pk }}">{{ bike }}</a>
            </div>
            <div class="card-body">
            <p class="card-text">
                    Forks: {{ bike.Fork }} <br>
                    Shock: {{ bike.Shock }} <br>          
            </p>
            </div>
        </div>
    {% endfor %}
</div>

    <footer class="navbar-default fixed-bottom">
        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
            <a href="settings/add-bike">Add a new Bike</a>
        </div>
    </footer>
{% endblock %}